@font-face {
  font-family: "Muller";
  src: local("Muller Regular"), local("MullerRegular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

:root {
  --color-black: #000000;
  --color-dark-gray: #333333;
  --color-middle-gray: #666666;
  --color-middlet-gray2: #999999;
  --color-light-violet: #d1a9f0;
  --color-soft-violet: #c283f3;
  --color-moderate-violet: #9d5cd0;
  --color-dark-violet: #7943a4;
  --color-lime: #30bf39;
  --color-blue: #26a5e4;
  --color-red: #d11616;
  --color-light-gray: #cacaca;
  --color-light-gray2: #ececec;
  --color-wite: #ffffff;
}

.page {
  font-family: "Open Sans", "sans-serif";
  font-weight: 400;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-dark-gray);
}

.section-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark-gray);
}

.cards__title {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-dark-gray);
}

.cards__date {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-middlet-gray2);
}

.cards__descr {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark-gray);
}

/* header */
.header {
  background-color: var(--color-black);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 14px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 96px;
  transform: translateX(-59px);
}

.header__logo {
  outline: none;
}

.header__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-wite);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  outline: none;
  z-index: 1;
}

.header__link:focus::after {
  position: absolute;
  content: "";
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-color: var(--color-dark-violet);
  z-index: -1;
  transition: background-color 0.3s ease-in-out;
}

.header__link:hover::after {
  background-color: transparent;
}

.header__link:hover {
  color: var(--color-soft-violet);
  background-color: transparent;
}

.header__link:active {
  color: var(--color-dark-violet);
}

.header__search {
  position: relative;
  outline: none;
  z-index: 1;
}

.header__search::after {
  transition: background-color 0.3s ease-in-out;
}

.header__search:focus::after {
  position: absolute;
  content: "";
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  width: 38px;
  height: 35px;
  background-color: var(--color-dark-violet);
  z-index: -1;
}

.header__search svg path {
  fill: var(--color-wite);
  transition: fill 0.3s ease-in-out;
}

.header__search svg rect {
  fill: var(--color-wite);
  transition: fill 0.3s ease-in-out;
}

.header__search:hover::after {
  background-color: transparent;
}

.header__search:hover svg path {
  fill: var(--color-soft-violet);
}

.header__search:hover svg rect {
  fill: var(--color-soft-violet);
}

.header__search:active svg path {
  fill: var(--color-dark-violet);
}

.header__search:active svg rect {
  fill: var(--color-dark-violet);
}

/* hero */

.hero--image {
  background-image: url("../img/hero-bg.jpg");
  /* background-size: cover; */
  background-position: 0 100%;
  background-repeat: no-repeat;
}

.hero__content {
  padding: 146px 0;
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 68px;
  color: var(--color-wite);
  max-width: 700px;
}

.hero__descr {
  margin: 0;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-wite);
  max-width: 550px;
}

.btn__hero {
  position: relative;
  padding: 21px 35px;
  background: var(--color-moderate-violet);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--color-wite);
  z-index: 1;
  outline: none;
}

.btn__hero:focus::after {
  position: absolute;
  content: "";
  top: -3px;
  right: -3px;
  left: -3px;
  bottom: -3px;
  border: 2px solid #c283f3;
  border-radius: 100px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.btn__hero:hover::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 100px;
  border: 3px solid var(--color-light-violet);
}

.btn__hero:active::after {
  position: absolute;
  content: "";
  background-color: var(--color-dark-violet);
  border: 3px solid var(--color-moderate-violet);
  border-radius: 100px;
  z-index: -1;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* about */

.about {
  padding-top: 83px;
  padding-bottom: 19px;
}

.about__title {
  margin-bottom: 14px;
}

.about__descr {
  max-width: 1050px;
}

/* gallery */

.gallery {
  padding-top: 50px;
  padding-bottom: 80px;
}

.gallery--image {
  background-image: url("../img/gallary-bg.jpg");
  background-position: 0 100%;
  background-repeat: no-repeat;
}

.gallery__container {
  padding-top: 81px;
  padding-bottom: 81px;
}

.gallery__title {
  color: var(--color-wite);
  margin-bottom: 20px;
}

.gallery__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallary__side-left {
  width: 350px;
  height: 350px;
}
.gallery__list {
  display: flex;
  --offsets: 2;
  gap: 50px;
}
.gallery__item {
  height: 350px;
  width: calc((100% - (gap * var(--offsets))) / (var(--offsets) + 1));
}

.galery__radio-title {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-wite);
}

.gallary__side-left {
  display: flex;
  align-items: flex-end;
}

.option {
  display: block;
  margin-bottom: 0.0em;
}

.radio {
  padding-left: 25px;
  cursor: pointer;
}

.radio__input {
  position: absolute;
  width: 2px;
  height: 2px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio__box {
  margin-top: 8px;
  margin-left: -27px;
  position: absolute;
  width: 13px;
  height: 13px;
  border: 1px solid var(--color-wite);
}

.radio__input:checked + .radio__box {
  border: 2px solid var(--color-soft-violet);
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.radio__input:focus + .radio__box {
  box-shadow: 0 0 0 2px var(--color-soft-violet);
  background-color: var(--color-selection2);
}

.radio__input:hover + .radio__box {
  border: 2px solid var(--color-moderate-violet);
  transition: box-shadow 0.3s ease-in-out;
}


/* catallog */

.catalog__title {
  margin-bottom: 16px;
}

.catalog__descr {
  max-width: 1080px;
  margin-bottom: 37px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.catalog__card {
  display: flex;
  gap: 50px;
}

.card__content {
  padding-top: 122px;
  padding-bottom: 119px;
}

.card__title {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-dark-gray);
}

.card__date {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-middlet-gray2);
}

.card__descr {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark-gray);
}
