@font-face {
  font-family: "Muller";
  src: local("Muller Regular"), local("MullerRegular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

:root {
  --color-black: #000000;
  --color-dark-gray: #333333;
  --color-middle-gray: #666666;
  --color-middlet-gray2: #999999;
  --color-light-violet: #D1A9F0; 
  --color-soft-violet: #C283F3; 
  --color-moderate-violet: #9D5CD0;
  --color-dark-violet: #7943a4;
  --color-lime: #30BF39;
  --color-blue: #26A5E4;
  --color-red: #D11616;
  --color-light-gray: #CACACA;
  --color-light-gray2: #ECECEC;
  --color-wite: #ffffff;
}

.page {
  font-family: "Open Sans", "sans-serif";
  font-weight: 400;
  min-width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}
